@page
@model Tarea_3_BD.Pages.View.List.VistaEstadoDeCuentaModel
@{
}

<h2>Estado de cuenta</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fecha de operacion</th>
            <th>Nombre tipo movimiento</th>
            <th>Descripcion</th>
            <th>Referencia</th>
            <th>Monto</th>
            <th>Nuevo Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaEstadosDeCuentaAdicional)
        {
            <tr>
            </tr>
        }
    </tbody> 
</table>
